.header{
    display: flex;
    height: 75px;
    width: 100%;
    background-image: linear-gradient(to top,red,green,blue);
}
.header_left{
    width: 40%;
    margin-top: 15px;
    z-index: 1;
}
.header_left i{
    margin: 5px;
    background-color: rgb(255, 145, 0);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 0.5s;
}
.header_left i:hover{
    background-color: rgb(255, 201, 180);
}
a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.header_right{
    width: 60%;
    text-align: right;
    margin-top: 15px;
    z-index: 1;
}
.header_right i{
    margin: 5px;
    background-color: rgb(255, 145, 0);
    border-radius: 25px;
    padding: 10px;
    transition-duration: 0.5s;
    float: right;
}
.header_right i:hover{
    background-color: rgb(255, 201, 180);
}
@media screen and (max-width:1400px){
    
}
.header_right i i{
    display: none;
    width:fit-content;

}
.header_right i:hover i{
    display: flex;
}