.main{
    display: flex;
    justify-content: center;
    background-image: url('./164991717764925374.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.products{
    display: flex;
    justify-content: center;
}
.product{
    display: none;
}
.active{
    display: block;
    width: 450px;
    height: 450px;
    border: solid;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.products i{
    font-size: 35px;
    cursor: pointer;
    position: relative;
    top: 220px;
    color: rgb(63, 63, 63);
}



@-webkit-keyframes fadeIn {
    from {
    opacity: 0;
    }
    
    to {
    opacity: 1;
    }
    }
    @keyframes fadeIn {
    from {
    opacity: 0;
    }
    
    to {
    opacity: 1;
    }
    }
    .animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    }
    .negative{
        background-color: rgb(255, 129, 126);
    }
    .negative:hover{
        background-color: red;
    }
    .positive{
        background-color: rgb(144, 238, 144);
    }
    .positive:hover{
        background-color: green;
    }